/**{
	padding: 0;
	margin: 0;
}*/

#wellcome {
	background-color: #009999;
	color: red;
	text-align: center;
	padding: 68px;
	margin: 0;
}
nav{
	background-color: #0066ff;
	overflow: hidden;
}
nav a{
	color: white;
	padding: 14px 20px;
	display: block;
	text-align: center;
	text-decoration: none;
}
nav a.menu_left{
	float: left;
}
nav a:hover{
	background-color: #DDD;
	color: black;
}
#left_side {
	flex: 30%;
	background-color: #f1f1f1;
	padding: 10px 20px;
}
#right_side {
	flex: 70%;
	padding: 10px 20px;
}
#flex_container {
	display: flex;
}
#lienhe {
	background-color: #3399ff;
	color: white;
	text-align: center;
	padding: 10px;
}
footer a {
	color: white;
}
table {
	border-style: solid;
}
/*kiểu bảng*/
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}